#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root {
  border-radius: 6px !important;
}
.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #f0f8ff !important;
  color: #409efb;
}
